<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Councelling</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->

	<style>
		.form-control:focus{border-color: rgba(132, 106, 221, 1); } 
		.has-error .form-control:focus{border-color: red; } 
	</style>
</head>
<body>

	<div class="bg-container-contact100" style="background-image: url('{{ url_for('static', filename='assets/images/bg-01.jpg') }}');">
		<div class="contact100-header flex-sb-m">
			<a href="#" class="contact100-header-logo">
				<img src="{{ url_for('static', filename='assets/icons/logo.png') }}" alt="LOGO">
			</a>

		</div>
		<div style="height: 100%;">
			<div style="text-align: center;">
				<p style="color: white;font-size: 2em;font-weight: bold;width: 100%;" class="mt-5 mb-4">Welcome<br>to<br><span style="color:  rgba(132, 106, 221, 1);">Student Speciality Councelling app</span></p> 
			</div>
			<div style="display: flex; justify-content: center;">
				<button class="btn-show-contact100" data-toggle="modal" data-target="#train_model">
					Start
				</button>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="train_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLongTitle">Student Marks</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body d-flex justify-content-center">
				<form>

					<div class="mb-3"><p class="mx-3" style="font-size: medium; font-weight: bold;">Notes de MSP 1</p></div>
					
					<div class="form-group row">
						<label for="MATH122" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="MATH122" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH122" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="MATH122" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MAT_INF121" class="col-sm-2 col-form-label">MATHEMATIQUES ET INFORMATIQUE 2</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="MAT121" placeholder="Email">
						</div>
					  </div>
					  <div class="form-group row">
						  <label for="MAT_INF111" class="col-sm-2 col-form-label">MATHEMATIQUES ET INFORMATIQUE 1</label>
						  <div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MAT_INF111" placeholder="Email">
						  </div>
					  </div>
					<div class="form-group row">
						<label for="PHY111" class="col-sm-2 col-form-label">SCIENCE PHYSIQUE 1</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="PHY111" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY121" class="col-sm-2 col-form-label">SCIENCE PHYSIQUE 3</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="PHY121" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY112" class="col-sm-2 col-form-label">SCIENCE PHYSIQUE 2</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="PHY112" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="DES124" class="col-sm-2 col-form-label">DESSIN TECHNIQUE</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="DES124" placeholder="Email">
						</div>
					</div>

					<div class="mb-3"><p class="mx-3" style="font-size: medium; font-weight: bold;">Notes de MSP 1</p></div>

					<div class="form-group row">
						<label for="MATH217" class="col-sm-2 col-form-label">SERIES ET INTEGRALES GENERALISES</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="MATH217" placeholder="Email">
						</div>
					</div>

					<div class="form-group row">
						<label for="MATH216" class="col-sm-2 col-form-label">PROBABILITES ET STATISTIQUES</label>
						<div class="col-sm-10">
						  <input type="number" step=0.01 class="form-control" id="MATH216" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH227" class="col-sm-2 col-form-label">ANALYSE NUMERIQUE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH227" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH226" class="col-sm-2 col-form-label">ANALYSE DANS LES ESPACES VEC. DE DIM. FINIE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH226" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH212" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH212" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH218" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH218" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH_INF211" class="col-sm-2 col-form-label">MATHEMATIQUE ET INFORMATIQUE 3</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH_INF211" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="MATH_INF221" class="col-sm-2 col-form-label">MATHEMATIQUE ET INFORMATIQUE 4</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="MATH_INF221" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="INF222" class="col-sm-2 col-form-label">INFORMATIQUE 4</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="INF222" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="INF212" class="col-sm-2 col-form-label">INFORMATIQUE 3</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="INF212" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY213" class="col-sm-2 col-form-label">ELECTROCINETIQUE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY213" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY223" class="col-sm-2 col-form-label">OPTIQUE GEOMETRIQUE ET ONDULATOIRE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY223" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY224" class="col-sm-2 col-form-label">THERMODYNAMIQUE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY224" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY225" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY225" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY214" class="col-sm-2 col-form-label">MECANIQUE 2</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY214" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY215" class="col-sm-2 col-form-label">TRAVAUX PRATIQUE DE PHYSIQUE 2</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY215" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY221" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY221" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY222" class="col-sm-2 col-form-label">Analyse Réelle 1</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY222" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="PHY228" class="col-sm-2 col-form-label">STATIQUE</label>
						<div class="col-sm-10">
							<input type="number" step=0.01 class="form-control" id="PHY228" placeholder="Email">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-10 d-flex justify-content-center">
						  <button type="submit" class="btn btn-primary" style="width: 35%;border-radius: 50px;">Go!</button>
						</div>
					  </div>

				  </form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>
    

    <!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
        <script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ url_for('static', filename='js/main.js')}}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'UA-23581568-13');
        </script>
</body>
</html>